
@{
    ViewData["Title"] = "Index2A";
}

<h1>Index2A</h1>

<h3>預設的「版面配置頁」</h3>
如果不選任何版面配置頁，就自動採用 ~/Views/_ViewStart.cshtml <br /><br />

這個檔案裡面寫著<font color="red">Layout = "_Layout";</font>，
又指向 ~/Views/Shared/_Layout.cshtml
<br />
<br />



