
@{
    Layout = null;
    // 註解：我的註解1。 

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*註解：我的註解2。*@
    <!--  註解：我的註解3。  -->

</body>
</html>
